/* ###########################################*/
/* =============== Responsive Css ============*/
/* ###########################################*/

@media (max-width: 640px) {
  .main_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home_text {
    font-size: 60px;
    font-weight: 600;
    -webkit-text-stroke: 1px white;
  }
  .home_text p:nth-child(3) {
    font-size: 90px;
  }
  .lottery {
    width: 353px;
  }
  .top_left {
    font-size: 10px;
  }
  .top_right {
    font-size: 8.5px;
  }
  .main_middle {
    width: 100%;
    /* height: 42%; */
    height: 50%;
  }
  .pxwell_main_parent {
    margin-left: 0;
    margin-right: 3px;
    width: 32px;
  }
  .pxwell_main {
    font-size: 1.5rem;
  }
  .curve {
    /* width: 77px; */
    width: 63px;
  }
  .curve img {
    height: 2rem;
    width: 2rem;
  }
  .curve p:first-of-type {
    font-size: 19px;
  }
  .curve p:not(:first-of-type) {
    font-size: 14px;
    font-weight: 900;
  }
  .prize {
    -webkit-text-stroke: 0.3px #fff;
  }
  /*----------------------*/
  .middle_text_area {
    padding: 0;
  }
  .typing_text_main_div {
    font-size: 18px;
    margin-top: 17px;
  }
  .blink_text {
    font-size: 50px;
  }
  .word {
    /* top: 27%; */
    top: 45%;
    left: 42%;
  }
  .word span {
    transform: translateY(-450px);
  }

  .fall_blink_text {
    /* height: 190px; */
    height: 270px;
  }
  .number_main_div {
    margin-top: 40;
  }
  .count_number {
    font-size: 3.5rem;
    height: 59px;
    width: 4.5rem;
  }
  .draw_date_time {
    font-size: 10px;
    width: 150px;
  }
  .main_page_wheel {
    height: 41vh;
  }
  .bottom_div {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /*------------ main home css end here -------------*/

  /*------------ wheel page css start here -------------*/
  .wheel_main {
    /* height: 41vh; */
  }
  .main_spin {
    width: 50%;
  }
  .arrow,
  .letter_Arrow {
    /* left: 40%; */
    left: 34%;
    border-top: 23px solid red;
  }
  .circle_hr {
    left: 31%;
  }
  .circle,
  .letter-circle {
    width: 90px;
    height: 90px;
    padding: 0;
    /* margin: 17px; */
    margin: 17px 6px;
  }
  .okk,
  .letter_okk {
    width: 90px;
    height: 90px;
  }
  .okk {
    rotate: 5deg;
  }
  .text {
    position: absolute;
    left: -77%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(64deg) rotate(-8deg);
    padding-top: 19px;
    font-weight: bolder;
    font-size: 8px;
  }
  .text,
  .letter-text {
    position: absolute;
    left: -77%;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 19px;
    font-weight: bolder;
    font-size: 8px;
  }
  .black_border {
    width: 2px;
  }
  .zoomed {
    transform: scale(2.4);
    margin-right: 0;
  }
  .slot_machine_top {
    /* width: 130px; */
    width: 100%;
  }
  .slot_component {
    width: 57%;
  }
  .main_slot {
    width: 155px;
  }
  /* .index-module_num__j6XH3 {
    
  } */

  .index-module_slot_wrap__ZT-DX :nth-child(2),
  .index-module_slot_wrap__ZT-DX :nth-child(3),
  .index-module_slot_wrap__ZT-DX :nth-child(4),
  .index-module_slot_wrap__ZT-DX :nth-child(5) {
    margin-left: 5px;
  }
  .spin_top_line {
    width: 87%;
  }

  .index-module_slot__DpPgW {
    height: 35px !important;
  }

  .index-module_num__j6XH3 {
    height: 35px;
    line-height: 33px;
    /* font-size: 15px;  its work for small screen */
    font-size: 8px;
  }
}
.logo_container {
  transform: skewY(60deg) rotate(-55deg);
  padding-top: 28px;
}
.logo_container img {
  margin-left: 66px;
  height: 8px;
  width: 8px;
  }
.slot_main_div {
}

/*---------  second page css ------------*/
.second_main_div {
  width: 100%;
  /* display: flex;
    justify-content: center; */
}
.typing_text_2_main_div {
  font-size: 95px;
  height: 127px;
  width: 100%;
}
.nextDraw {
  -webkit-text-stroke: 1px #fff;
  font-size: 42px;
  font-weight: 900;
}
.secoundPrizeNo {
  -webkit-text-stroke: 1px #fff;
  font-size: 65px;
  margin-top: 50px;
}
.number {
  font-size: 150px;
}
.nd {
  font-size: 70px;
}
.bottom_text {
  width: 100%;
}
.bottom_text li span {
  font-size: 26px;
}
.dynamik_text_bottom li span::after {
  margin-top: 21px;
}
.live_draw_main {
margin-left: 0;
}
.live_draw {
  font-size: 1.5rem;
}
.second_inner {
width: 100%;
}
.slot_machines {
  padding: 2px;
}
@media (min-width: 641px) and (max-width: 767px) {
}
